body{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    background: #DBECD8;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
.title{
    background: #C0DDC0;
    width: 100%;
    height: 12.19vh;
    text-align: center;
}
.title h1{
    margin: 0;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-top: 1.25rem;
}
.title span{
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 2.25rem;
}
.detail{
    width: 100%;
    height: 160vh;
    border: 0;
    border-bottom: 2.5rem solid #C0DDC0;
    margin: auto;
 
 }
.detail img{
     float: right;
     margin: 9.4rem 14rem auto 0;    
 }
 .detail h3{
    margin: 0;
    margin-top: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.18rem;
    line-height: 1.43rem;
    color: #1A1C2466;

}
.box{
    display: inline-block;
    margin: 0;
    /* margin-left: 2.5rem; */
    width: 26.82vw;
    height: 2.27vh;
    background-color:#B6DBB6;
    
}
.propgrams{
    display: inline-block;
    width: 525px;
    margin:6.25rem 0 auto 14rem ;
    }
.about{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #1C3927;
}

.foot{
    width: 100%;
    height: 65vh;
}
.foot p{
    width: 64rem;
    height: 21.31rem;
    color: #1C3927;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 9.3rem;
}
.btn{
    color: #06C34B;
    text-decoration: none;
}