<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIITDMK CSE-Faculty</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="index.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div id="faculty-body">
      <div class="fac-ill">
        <img src="/faculty.svg" alt="faculty" />
      </div>
      <div class="fac-ill-mob">
        <img src="/faculty-mob.svg" alt="faculty" />
      </div>
      <div class="fac-list">
        <ul id="fac-list">
          <li class="fac-item">
            <div class="fac-dp"><img src="/DVLNS.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. D.V.L.N Somayajulu</div>
              <div class="designation">Director | Ph.D IIT Delhi</div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">29.02.2019</p>
              </div>

              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto:director@iiitk.ac.in">director@iiitk.ac.in</a></p>
               
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289114">08518-289114</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">
                  Databases, Information Extraction, Query Processing, Big Data
                  and privacy
                </p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/KSB.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. K. Sathya Babu</div>
              <div class="designation">
                Assistant Professor and HOD | Ph.D NIT Rourkela
              </div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">09.09.2021</p>
              </div>
              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto:ksb@iiitk.ac.in">ksb@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289110">08518-289110</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">
                  Natural Language Processing, Social Computing, Recommender
                  Systems, Time Series Analysis
                </p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/AK.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. Anil Kumar R</div>
              <div class="designation">Assistant Professor | Ph.D IIT Hyderabad</div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">09.09.2021</p>
              </div>
              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto:anilkumar.r@iiitk.ac.in">anilkumar.r@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289120">08518-289120</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">4G, 5G, High Efficiency Wi-Fi networks, IoT and Edge computing, SDN and NFV</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/RP.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. R. PraneethaSree</div>
              <div class="designation">Assistant Professor | Ph.D NIT Warangal</div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">28.12.2020</p>
              </div>
              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto:rpraneethasree@iiitk.ac.in">rpraneethasree@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289109">08518-289109</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">Data Mining, Machine Learning, Data analytics, Data Sciences,Databases.</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/SC.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. Shounak Chakraborty,</div>
              <div class="designation">Assistant Professor | Ph.D IIIT Guwahati</div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">25.01.2021</p>
              </div>
              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto:shounak@iiitk.ac.in">shounak@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289121">08518-289121</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">Artificial neural networks, remote sensing, pattern recognition and image processing.</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/RK.png" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. R. Kabaleeshwaran</div>
              <div class="designation">
                Assistant Professor | Ph.D IISc Bangalore
              </div>
              <div class="doj">
                <p class="key">Date of Joining :</p>
                <p class="value">12.08.2021</p>
              </div>
              <div class="email">
                <p class="key">Email :</p>
                <p class="value"><a href="mailto: kabaleesh@iiitk.ac.in">kabaleesh@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone :</p>
                <p class="value"><a href="tel:08518289103">08518-289103</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest :</p>
                <p class="value">Post-Quantum Cryptography, Blockchain and its Application.</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/KN.jpg" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. K. Nagaraju</div>
              <div class="designation">Assistant Professor | Ph.D NIT Calicut</div>
              <div class="doj">
                <p class="key">Date of Joining:</p>
                <p class="value">16.08.2021</p>
              </div>
              <div class="email">
                <p class="key">Email:</p>
                <p class="value"><a href="mailto:knagaraju.iiitk.ac.in">knagaraju.iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone:</p>
                <p class="value"><a href="tel:08518289116">08518-289116</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest:</p>
                <p class="value">Theory of Computer Science, Automata Theory, Machine Learning, Deep					
                  Learning</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/JV.jpg" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. Jisna V.A</div>
              <div class="designation">Assistant Professor | Ph.D NIT Calicut</div>
              <div class="doj">
                <p class="key">Date of Joining:</p>
                <p class="value">17.02.2023</p>
              </div>
              <div class="email">
                <p class="key">Email:</p>
                <p class="value"><a href="mailto:jisna.iiitk.ac.in">jisna.iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone:</p>
                <p class="value"><a href="tel:08518289109">08518-289109</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest:</p>
                <p class="value"> Bioinformatics - Protein Structure Analysis and Prediction using Deep Learning Techniques, Computational Biology, Health Informatics.</p>
              </div>
            </div>
          </li>
          <li class="fac-item">
            <div class="fac-dp"><img src="/NSN.jpg" alt=""></div>
            <div class="fac-details">
              <div class="name">Dr. N. Srinivas Naik</div>
              <div class="designation">Assistant Professor(Grade-I) | Ph.D University of Hyderabad</div>
              <div class="doj">
                <p class="key">Date of Joining:</p>
                <p class="value">04.05.2023</p>
              </div>
              <div class="email">
                <p class="key">Email:</p>
                <p class="value"><a href="mailto:srinu@iiitk.ac.in">srinu@iiitk.ac.in</a></p>
              </div>
              <div class="phone">
                <p class="key">Institute Phone:</p>
                <p class="value"><a href="tel:08518289116">08518-289116</a></p>
              </div>
              <div class="interests">
                <p class="key">Areas of Interest:</p>
                <p class="value">Big Data, Cloud Computing, Deep Learning, ML, Image Processing</p>
              </div>
            </div>
          </li>
        </ul>
        <footer><%- include('./partials/footer.ejs') %></footer>
      </div>
    </div>
    <script src="animate2.js" type="module" defer></script>
  </body>
</html>
