<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESEARCH SCHOLARS</title>
    <link rel="stylesheet" href="/RESEARCH_SCHOLARS.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="section1">
      <div class="about">
        <h1>RESEARCH SCHOLARS</h1>
        <p>
          Lorem Ipsum comes from a latin text written in 45BC by Roman
          statesman, lawyer, scholar, and philosopher, Marcus Tullius Cicero.
          The text is titled "de Finibus Bonorum et Malorum" which means "The
          Extremes of Good and Evil". The most common form of Lorem ipsum is the
          following: <br />
          <br />

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. <br />
          <br />

          The text is a corrupted version of the original and therefore does not
          mean anything in particular. <br />
          The book however where it originates discusses the philosophical views
          of Epicureanism, Stoicism, and the Platonism of Antiochus of Ascalon
          Lorem Ipsum comes from a latin text written in 45BC by Roman
          statesman, lawyer, scholar, and philosopher, Marcus Tullius Cicero.
          The text is titled "de Finibus Bonorum et Malorum" which means "The
          Extremes of Good and Evil". The most common form of Lorem ipsum is the
          following:
        </p>
      </div>
      <img src="/RESEARCH SCHOLARS.svg" alt="" />
    </div>
    <div class="fac-list">
      <ul id="fac-list">
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/VPR.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Vuyyuru Punna Rao</div>
            <div class="designation">320cs0001</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">01-10-2020</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:320cs001@iiitk.ac.in">320cs001@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. K. Sathya Babu</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Artificial Intelligence</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Full-time with institute fellowship</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/AC.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Anisha Chakravorty</div>
            <div class="designation">321cs0001</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">01-11-2021</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:321cs001@iiitk.ac.in">321cs001@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. Shounak Chakraborty</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value"></p>Remote sensing, machine learning, computer vision
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Full-time with institute fellowship</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/VMV.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Vishnu Meher Vemulapalli</div>
            <div class="designation">321cs0002</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">04-01-2023</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:321cs002@iiitk.ac.in">321cs002@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. K. Sathya Babu</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Computer vision, image analysis, pattern recognition</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Full-time with institute fellowship</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/TG.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">T. Gokaramaiah</div>
            <div class="designation">322cs0001</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">19-12-2022</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:322cs0001@iiitk.ac.in">322cs0001@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. K. Nagaraju</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Explainable Artificial Intelligencen</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Full-time with institute fellowship</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/GS.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Gajjala Sindhoora</div>
            <div class="designation">421cs0004</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">27-12-2021</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:421CS0004@iiitk.ac.in">421CS0004@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. Anil K. Rangisetti</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Cloud Computing</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Part-time</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/GK.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Gaurav Kanaujia</div>
            <div class="designation">421cs0001</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">26-07-2021</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:421CS0001@iiitk.ac.in">421CS0001@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Prof. D. V. L. N. Somayajulu  and Dr. K. Sathya Babu</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Data mining</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Part-time</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/PK.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Padma Kouturapu</div>
            <div class="designation">421cs0003</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">27-12-2021</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:421CS0003@iiitk.ac.in">421CS0003@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. K. Nagaraju and Dr. K. Sathya Babu</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Recommender Systems using NLP</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Part-time</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/KVPPK.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">K V Phani Pavan Kumar</div>
            <div class="designation">421cs0002</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">26-07-2021</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:421CS0002@iiitk.ac.in">421CS0002@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. R. Praneetha Sree</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Data Analytics</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Part-time</p>
            </div>
          </div>
        </li>
        <li class="fac-item">
          <div class="fac-dp"><img src="/scholars/SS.jpg" alt=""></div>
          <div class="fac-details">
            <div class="name">Sivpal Singh</div>
            <div class="designation">422cs0001</div>
            <div class="doj">
              <p class="key">Date of Joining :</p>
              <p class="value">01-07-2022</p>
            </div>

            <div class="email">
              <p class="key">Email :</p>
              <p class="value"><a href="mailto:422CS0001@iiitk.ac.in">422CS0001@iiitk.ac.in</a></p>
             
            </div>
            <div class="phone">
              <p class="key">Advisor Name</p>
              <p class="value">Dr. K. Sathya Babu</p>
            </div>
            <div class="interests">
              <p class="key">Research field :</p>
              <p class="value">Artificial Intelligence</p>
            </div>
            <div class="Mode">
              <p class="key">Mode :</p>
              <p class="value">Part-time</p>
            </div>
          </div>
        </li>
        
      </ul>
      <footer><%- include('./partials/footer.ejs') %></footer>
    </div>
    <script src="animate.js" type="module" defer></script>
  </body>
</html>
